{# tthis is for the about page foirst section #}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}

{# begginigg of the main contents #}
  {% for item in items %}
       <div{{ item.attributes.addClass(classes, 'about--body') }}>{{ item.content }}</div>
  {% endfor %}

{# closing wrapper#}
</div>
</div>
</section>