.icon-play1trendy:before {
  content: "\f04d";
}
.icon-pause1trendy:before {
  content: "\f04e";
}
.icon-caret-righttrendy:before {
  content: "\f0da";
}
.icon-rocket-launchtrendy:before {
  content: "\e027";
}
.icon-searchtrendy:before {
  content: "\f002";
}
.icon-timestrendy:before {
  content: "\f00d";
}
.icon-playtrendy:before {
  content: "\f04b";
}
.icon-pausetrendy:before {
  content: "\f04c";
}
.icon-chevron-righttrendy:before {
  content: "\f054";
}
.icon-arrow-lefttrendy:before {
  content: "\f060";
}
.icon-arrow-righttrendy:before {
  content: "\f061";
}
.icon-phonetrendy:before {
  content: "\f095";
}
.icon-rsstrendy:before {
  content: "\f09e";
}
.icon-envelopetrendy:before {
  content: "\f0e0";
}
.icon-cloud-downloadtrendy:before {
  content: "\f0ed";
}
.icon-chevron-circle-righttrendy:before {
  content: "\f138";
}
.icon-long-arrow-righttrendy:before {
  content: "\f178";
}
.icon-faxtrendy:before {
  content: "\f1ac";
}
.icon-plugtrendy:before {
  content: "\f1e6";
}
.icon-newspapertrendy:before {
  content: "\f1ea";
}
.icon-servertrendy:before {
  content: "\f233";
}
.icon-map-marker-alttrendy:before {
  content: "\f3c5";
}
.icon-awardtrendy:before {
  content: "\f559";
}
.icon-ruler-triangletrendy:before {
  content: "\f61c";
}
.icon-twittertrendy:before {
  content: "\f099";
}
.icon-linkedin-intrendy:before {
  content: "\f0e1";
}
.icon-youtubetrendy:before {
  content: "\f167";
}
.icon-facebook-ftrendy:before {
  content: "\f39e";
}
