{% if items is not empty %}
<div class="col-lg-7">

	<div class="info-panel_pane pane-position-right   info-panel_pane--purple info-panel_pane_bottom">
		<div class="info-panel_pattern position-absolute w-100 h-100"></div>
		{%
  set classes = [
  'field',
  'field--name-' ~ field_name|clean_class,
  'field--type-' ~ field_type|clean_class,
  'field--label-' ~ label_display,
]
%}
		{%
  set title_classes = [
  'field__label',
  label_display == 'visually_hidden' ? 'visually-hidden',
]
%}

		{% if label_hidden %}
			{% if multiple %}
				{% for item in items %}
					{{ item.content }}
				{% endfor %}
			{% else %}
				{% for item in items %}
					{{ item.content }}
				{% endfor %}
			{% endif %}
		{% else %}
			{#    {{ label }}#}
			{% if multiple %}{% endif %}
			{% for item in items %}
				<h4 class="text-white font-weight-bold">
					{{ item.content }}
				</h4>
			{% endfor %}
			{% if multiple %}{% endif %}
		{% endif %}
		{% else %}
		{# don't print the shape and content #}
{% endif %}