<div class="col-lg-12">

	<a class="product--service_block--url d-block mb-1" href="{{ url }}" rel="bookmark">
		<div class="product--service_block">
			<div class="flex-title--reposition w-50">
				{{ content }}
			</div>
		</div>
	</a>

</div>
