<div class="solution-tiles pt-2">
    <div class="container">
        <div class="wrapper">
            <div class="row">
            {%
            set classes = [
            'field',
            'field--name-' ~ field_name|clean_class,
            'field--type-' ~ field_type|clean_class,
            'field--label-' ~ label_display,
            ]
            %}
            {%
            set title_classes = [
            'field__label',
            label_display == 'visually_hidden' ? 'visually-hidden',
            ]
            %}

            {% if label_hidden %}
            {% if multiple %}
                {% for item in items %}
                    {{ item.content }}
                {% endfor %}
            {% else %}
                {% for item in items %}
                {{ item.content }}
                {% endfor %}
            {% endif %}
            {% else %}
            {#    {{ label }}#}
                {% if multiple %}
                {% endif %}
                {% for item in items %}
                {{ item.content }}
                {% endfor %}
                {% if multiple %}
                {% endif %}
            {% endif %}
            </div>
        </div>
    </div>
</div>