{# tthis is for the Support page bottom, information  section #}
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}

{# begginigg of the main contents #}
<section {{ attributes.addClass(classes, 'support-page-bottom','section-space','pb-5','mb-0') }}>
<div class="container">
<div class="row justify-content-center"> 
{# pull contents from paragrapgh #}
  {% for item in items %}
      {{ item.content }}
  {% endfor %}
  {# end of main contents #}
  </div>
  </div>
</section>

