{# This template is for partner page content type #}
{#Include Header#}
{% include directory ~ '/templates/includes/header.html.twig' %}
{#End Include Header#}
	{# {{ dump(page.content) }} #}
<div class="layout-container partner-page">
	{{ page.content }}
	{{ page.content_second }}
	{{ page.content_third }}
</div>

{#Include Footer#}
{% include directory ~ '/templates/includes/footer.html.twig' %}
{#End Include Footer#}
