{# This template is for ABOUT  page content type #}
{#Include Header#}
{% include directory ~ '/templates/includes/header.html.twig' %}
{#End Include Header#}
	{# {{ dump(page.content) }} #}
<div class="layout-container career-page">
	{{ page.content }}
</div>

{#Include Footer#}
{% include directory ~ '/templates/includes/footer.html.twig' %}
{#End Include Footer#}
