{# tthis is index page title for the partners page : index title #}

{# begginigg of the main contents #}

      {% for item in items %}
      {{ item.content }}
      {% endfor %}
{# closing col-lg-6 #}
</div>
