{# Add red bullet points #}
{%
  set classes = [
    'body-list-items',
    'list-unstyled',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}


{# content : list items #}
 <ul {{ attributes.addClass(classes) }}>
     {% for key,  value in paragraph.field_section_bullet_point_item %}
      <li class="list-item"> {{ paragraph.field_section_bullet_point_item[key].value }}</li> 
     {% endfor %} 
 </ul>

