{# Support portal pages bottom :3 columns list items #}
{%
  set classes = [
    'support-info-col',
    'col-lg-4',
    'my-4',
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}


{# content #}
 <div {{ attributes.addClass(classes )}} >
       <div  class="support-info-col-content  card bg-white h-100 round-corner">
       <div class="card-body py-5 px-4">
         <h4 class=" text-bold">{{ content.field_title}}</h4>
         <span class="red-border"></span>
         <div class="support-info-list mt-2">
          {{ content.field_support_column_list_item}}
        </div>
        </div>
      </div>
</div>